/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Rubik Microbe', cursive; */
    font-family: 'Poiret One', cursive;
    color: white;
}

img {
    max-width: 100%;
} 

/* GENERAL STYLE */
:root {
    --pink: #FEDDD5;
    --red: #FF6863;
    --green: #869F76;
    --blue: #246D82;
    --smallPix: 5px;
}

body {
    background-color: rgb(34, 28, 33);
}

/* FLEX & DISPLAY & POSITION STYLE */
.dNone         {display: none;}
.dBlock        {display: block;}
.dFlex         {display: flex;}
.fDirecCol     {flex-direction: column;}
.justyCenter   {justify-content: center;}
.alignCenter   {align-items: center;}
.justySpaceBtw {justify-content: space-between;}
.justySpaceEve {justify-content: space-evenly;}
.fWrap         {flex-wrap: wrap;}
.gap2em        {gap: 2em;}
.pRelative     {position: relative;}
.pAbsolute     {position: absolute;}
.pSticky       {position: sticky;}

/* EXTRA GENERIC STYLE */
.cPointer      {cursor: pointer;}
.textAlignCent {text-align: center;}
.pad1em        {padding: 1em;}
.border        {border: 1px solid var(--red);}
.w100Perc      {width: 100%;}
.h100Vh        {height: 100vh;}

/* HEADER STYLE */
h1 {
    font-family: 'Rubik Microbe', cursive;
    text-align: center;
    margin: 3rem auto;
}

/* MAIN STYLE */
main > div {
    border: .5px dashed var(--pink);
    border-radius: var(--smallPix);
    padding: 2rem 10rem;
    width: 55%;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 1rem 0;
    border-bottom: .5px solid var(--pink);
}

li > span:first-child {
    width: 60%;
}

.colorRed {
    color: var(--red);
}

.colorGreen {
    color: var(--green);
}

.congratsLi {
    border-bottom: transparent;
    letter-spacing: var(--smallPix);
    font-family: 'Rubik Microbe', cursive;
    color: var(--green);
    text-align: center;
    margin-bottom: 4rem;
}

button {
    margin-left: .8rem;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

li i {
    color: var(--red);
}

li button:hover {
    transform: scale(2);
}

input {
    background-color: transparent;
    color: white;
    border: 1px solid var(--pink);
    border-radius: var(--smallPix);
    font-size: 1rem;
    padding: .4rem 1rem;
    width: 60%;
}

div > button:last-child {
    border-radius: var(--smallPix);
    border: 1px solid var(--pink);
    padding: .5rem .6rem;
    background-color: var(--blue);
    letter-spacing: var(--smallPix);
    text-align: center;
}

div > button:last-child:hover {
    background-color: var(--pink);
    color: var(--green);
    font-weight: 900;
}
